<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/billdonofrio</string>
	</dict>
	<key>Label</key>
	<string>com.lyribop.disaster-backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/billdonofrio/bin/lyribop-backup.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/lyribop-backup-error.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/lyribop-backup.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
